<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" deliveryFormat="SevenBit"  from="http://www.itforpros.com/">
        <network
          host="localhost"
          port="443"
          defaultCredentials="true"
        />
      </smtp>
     </mailSettings>
    </system.net>

  <!-- Web.Config Configuration File -->

  

  <connectionStrings>
        <add name="Customer SystemConnectionString" connectionString="Data Source=.\SQLEXPRESS,1433 ;Initial Catalog=&quot;Customer System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Customer_SystemConnectionString" connectionString="Data Source=.\SQLEXPRESS,1433; Initial Catalog=Customer_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <system.web>
    <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
</configuration>
